---
description: En spelförening i Stockholm-området. Rollspel, datorspel med mera!
---
<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>Groblus</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#333333" />
    <style type="text/css" media="screen">{% include "./styles.css" %}</style>
  </head>
  <body>
    <main>
      <h1>Groblus Gamers</h1>

      {% renderFile "_includes/om-foreningen.md" %}
      {% renderFile "_includes/aktiviteter.md" %}
      {% include "_includes/galleri.liquid" %}
      {% include "_includes/contact.liquid" %}
    </main>
    <script type="module">{% include "./main.js" %}</script>
  </body>
</html>
