<div>
  <h2>Kontakt</h2>

  <p>
    Om du har en fråga eller vill komma i kontakt med oss, använd
    formuläret nedan.
  </p>

  <form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Namn: <input type="text" name="name" autocomplete="on" required/></label>
    </p>
    <p>
      <label>E-post: <input type="email" name="email" autocomplete="email" required/></label>
    </p>
    <p>
      <label>Message: <textarea name="message" required></textarea></label>
    </p>
    <p>
      <button type="submit">Skicka meddelande</button>
    </p>
  </form>
</div>
